body {
  background: linear-gradient(
    to right,
    rgba(0, 114, 255, 0.05),
    rgba(0, 198, 255, 0.05)
  );
}

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.logout {
  align-self: flex-start;
}

.userButton {
  align-self: flex-start;
}

.generateBtn {
  text-align: center;
  padding-top: 30px;
}

.title {
  font-weight: bold;
}

.ingredientsTitle {
  display: flex;
  justify-content: space-between;
}

.menuContainer {
  padding: 0 20px 40px 20px;
}

.listContainer {
  padding-top: 40px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.listTitle {
  padding-bottom: 30px;
}

.completed {
  text-decoration: line-through;
}
